@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Jost:wght@300;400;500;600;700&display=swap');

:root {
  --text-cold-primary: #006DE8;
  --text-cold-secondary: #0b5299;
  --text-hot-primary: #ff7f00;
  --text-hot-secondary: #9b4d00;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

/* Preloader */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: linear-gradient(var(--text-cold-secondary), var(--text-cold-secondary)) center/60px 60px var(--text-hot-primary);
}

#preloader:before {
  content: "";
  inset: calc(50% - 30px);
  border: 6px solid var(--text-hot-primary);
  border-top-color: var(--text-cold-secondary);
  border-bottom-color: var(--text-cold-secondary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* End Preloader */

/* Header */
#header {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: black;
  background-color: #fff;
  font-weight: 400;
  box-shadow: 10px 10px 10px #cecece, -10px -10px 10px #ffffff;
}

#header div {
  display: flex;
  align-items: center;
}

#header div img {
  width: 150px;
}

#header .nav-list {
  display: flex;
  gap: 2rem;

  list-style: none;
}

#header .nav-list a {
  text-decoration: none;
  color: black;
  transition: color .3s;
  position: relative;
}

#header .nav-list a::after {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background-color: var(--text-cold-primary);
  transition: width .5s;
  position: absolute;
  bottom: -2px;
  left: 0;
}

#header .nav-list a:hover {
  color: var(--text-hot-primary);
}

#header .nav-list a:hover::after {
  width: 100%;
}

/* End Header */

/* Hero and Exam */
#hero,
#exam {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-inline: var(--bs-gutter-x);
  min-height: fit-content;
}

#hero .hero-img,
#exam .hero-img {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
  background: var(--text-cold-secondary);
  border-radius: 2rem;
}

#hero .hero-img {
  padding: 4rem;
}

#exam .hero-img-fluid {
  display: none;
}

#exam .hero-img {
  padding: 6.6rem;
  width: 40vw;
}

#hero h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
}

#exam h1 {
  text-transform: uppercase;
  font-size: 3rem;
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}

#exam button {
  border: none;
  border-radius: 2rem;

  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  background: white;
  color: var(--text-hot-primary);

  padding: 1rem 2.5rem;
  margin-top: 1rem;

  position: relative;
  z-index: 2;

  cursor: pointer;

  transition: .4s;
}

#exam button:hover {
  background: var(--text-hot-primary);
  color: white;
}

#hero p,
#exam p {
  font-weight: 300;
  line-height: 1.5rem;
}

.circulo {
  position: absolute;
  top: -12%;
  left: -40px;
  z-index: -1;
}

.wave-down {
  position: absolute;
  top: 47%;
  left: -10px;
}

.wave-upper {
  position: absolute;
  top: -41.5%;
  left: 64%;
}

@media (max-width: 768px) {
  #hero {
    padding: 7rem calc(var(--bs-gutter-x) * 0.5) 0;
    align-items: normal;
  }

  #exam .hero-img {
    display: none;
  }

  #exam .hero-img-fluid {
    display: flex;
    flex-direction: column;
    background: var(--text-cold-secondary);
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  #exam .hero-img div {
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    background-color: var(--text-cold-secondary);
    margin-inline: 1rem;
  }

  #hero .hero-img {
    margin: 1rem;
  }

  #hero h1,
  #exam h1 {
    font-size: 1.7rem;
  }

  #hero p,
  #exam p {
    font-size: 0.85rem;
  }

  .circulo,
  .wave-down,
  .wave-upper {
    display: none;
  }
}

/* End Hero and Exam */

/* Video */
#video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 50% 1fr;

  margin-inline: 3rem;
}

#video .r-img {

  display: flex;

  justify-content: end;
  align-items: center;


  grid-column-start: 1;
  grid-column-end: 3;

  justify-items: end;

  grid-row-start: 1;
  grid-row-end: 3;


  z-index: 2;
}

#video .video {
  color: #fff;
  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 35vw;
  height: 35vh;

  z-index: 3;

  grid-column-start: 2;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 2;
}

#video .l-img {
  display: flex;

  justify-content: start;
  align-items: center;

  z-index: 2;

  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 4;
}

#video .mobile-img {
  display: none;
}

@media (max-width: 1040px) {
  #video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    background: url('/src/img/shapes/vector-3.svg') center/cover;
  }

  #video .video {
    position: relative;
    text-align: center;
    bottom: 19px;
    left: 12px;
    gap: 0;
  }

  #video .video h1 {
    font-size: 1rem;
  }

  #video .video video {
    width: 70vw;
  }

  #video .r-img,
  #video .l-img {
    display: none;
  }
}

/* End Video */

/* Courses */
#courses {
  margin-top: 7rem;
}

#courses .header header,
#courses .header main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  color: #fff;
}

#courses .header header {
  background: var(--text-hot-primary);
}

#courses .header main {
  background: var(--text-cold-primary);
}

#courses h3 {
  background: var(--text-hot-primary);
  text-transform: uppercase;
  color: #fff;
}

#courses .row aside ul {
  list-style: circle !important;
  font-weight: 600;
  color: var(--text-cold-secondary);
}

#courses .row aside p {
  color: var(--text-cold-secondary);
  font-weight: 600;
  margin-inline: 1rem;
}

#courses .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-inline: .2rem;
}

#courses .container .main-content {
  background: radial-gradient(circle, rgba(0, 0, 58, 1) 0%, rgba(40, 74, 140, 1) 51%, rgba(40, 74, 140, 1) 100%);
  padding-bottom: 3rem;
}

#courses .container main>ul {
  background: var(--text-cold-secondary);
  color: #fff;
  padding: 4rem;
  font-weight: 300;
  border-bottom-right-radius: 4rem;
  max-width: max-content;
}

#courses .container main>ul li {
  font-size: 1.2rem;
}

#courses .row .courses-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 1rem;
}


#courses .row .courses-list h1,
#courses .row .courses-list h3 {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  padding: .4rem;
  border-radius: 4rem;
}

#courses .row .courses-list ul {
  margin-inline: 2rem;
}


#courses .row .courses-list ul li {
  font-family: 'Jost';
}

#courses .row aside img {
  width: 100%;
}

@media (max-width: 768px) {
  #courses .row {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  #courses .row.n-revert {
    flex-direction: column;
  }
}

/* End Courses */

/* Students */
#students {
  display: flex;
  flex-direction: column;

  height: 40vh;

  margin-block: 7rem;
}

#students>h1 {
  text-transform: uppercase;
  color: #fff;

  padding: 1rem 2rem;

  background: var(--text-cold-secondary);
  border-top-right-radius: 4rem;

  margin-right: 50%;
}

@media (max-width: 768px) {
  #students h1 {
    font-size: 1.2rem;
    margin-right: 25%;
  }
}

/* Swiper */
#students .swiper {
  width: 100%;
  height: 100%;
  background: var(--text-hot-secondary);
}

#students .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  background: var(--text-hot-primary);

  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;

  padding: 3rem;
}

#students .swiper-pagination-bullet-active {
  background: white;
}

#students .swiper-button-next:after,
#students .swiper-button-prev:after {
  color: white;
}


#students .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

#students .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* End Swiper */

/* End Students */

/* Teachers */
#teachers .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  #teachers .row {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-inline: .2rem;
  }

  #teachers .row>aside header {
    margin-inline: 1rem;
  }

  #teachers .row>aside header h1 {
    width: 100% !important;
    font-size: 1.2rem !important;
    text-align: center;
    border-radius: .5rem !important;
  }
}

#teachers aside>img {
  width: 100%;
}

#teachers .row>aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#teachers .row>aside header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;

  color: white;
  background: var(--text-hot-primary);

  border-radius: 0 .5rem .5rem 0;
  padding: 1rem 2rem;
  width: 50%;
}

#teachers .row>aside h3,
#teachers .row>aside p {
  margin-inline: 2rem;
  color: var(--text-cold-secondary);
}

/* End  Teachers */

/* Schedule */
#schedule {
  margin-block: 4rem;
}

#schedule header {
  background: var(--text-hot-primary);

  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;

  text-align: center;
  padding: 1rem 2rem;
}

#schedule>aside {
  margin-top: 4rem;
}

#schedule aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#schedule aside article {
  display: flex;
  align-items: center;
}

#schedule aside article p {
  background: var(--text-cold-secondary);

  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

  border-radius: 0 2rem 2rem 0;
  border: 7px solid white;
  border-left: 0px;

  padding: 1.5rem 2.5rem;
}

#schedule aside article p:first-child {
  width: 80%;
}

#schedule aside article p:last-child {
  position: relative;
  width: 20%;
  right: 1.5vw;
  z-index: -1;
}

@media (max-width: 768px) {
  #schedule aside article {
    display: block;
  }

  #schedule aside article p {
    font-weight: normal;
  }

  #schedule aside article p:last-child {
    width: 100%;
    background: var(--text-cold-primary);
    bottom: 1rem;
    right: 8vw;
  }
}

/* Contact */
#contact {
  background: var(--text-hot-primary);
  text-align: center;
  padding: 4rem;
}

#contact h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#contact .social-media {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

#contact .social-media a {
  color: #000;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  border: 2px solid #e1e1e1;
  border-radius: 1rem;
  background: white;

  width: 15vw;
  height: 15vw;

  transition: 1s;
}

#contact .social-media a:hover {
  transform: translateY(-10%);
  color: var(--text-cold-primary);
}

#contact .social-media a h3,
#contact .social-media a p {
  opacity: .7;
}

.icon {
  color: var(--text-cold-primary);
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  #contact .social-media {
    flex-direction: column;
    align-items: center;
  }

  #contact .social-media a {
    min-width: fit-content;
    height: fit-content;
    width: 50vw;
    padding-block: 2rem;
  }
}

/* End Contact */

/* About Us */
#about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  align-items: center;

  background: var(--text-hot-primary);

  padding: 4rem;
}

#about-us img {
  width: 100%;
}

#about-us .about-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: end;

  color: white;
}

#about-us .about-text h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

#about-us .about-text ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#about-us .about-text ul li {
  width: max-content;
  text-align: end;
}

@media (max-width: 768px) {
  #about-us {
    display: flex;
    flex-direction: column;
  }

  #about-us .about-text ul {
    align-items: flex-start;
  } 
  
  #about-us .about-text ul li {
    text-align: start;
  }

  #about-us .about-text p {
    text-align: start;
  }
}

/* End About Us */

/* Footer */
#footer {
  background: #1c1c1c;
  padding: 2rem 4rem;
}

#footer p, 
#footer i, 
#footer a {
  color: white;
  opacity: .6;
  transition: 1s;
}

#footer a:hover {
  opacity: 1;
  font-weight: 600;
}

#footer .row {
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
}

#footer .row:last-child {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid rgba(255, 255, 255, 0.514);
}

#footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

#footer .partnerships {
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

#footer img {
  overflow: clip;
  object-fit: cover;
}

#footer img.lmse {
  width: 30ch;
}

#footer img.usp {
  max-width: 15ch;
}

#footer img.abstartups {
  max-width: 30ch;
}

@media (max-width: 768px) {

  #footer>.row,
  #footer .partnerships {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  
  #footer i {
    display: none;
  }

  #footer .container {
    width: 100%;
  }
}